default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: postgres
  password: password
  host: localhost

development:
  <<: *default
  database: oivan_assesment_project_development

test:
  adapter: postgresql
  encoding: unicode
  database: oivan_assesment_project_test
  username: postgres
  password: password
  host: localhost

production:
  <<: *default
  url: <%= ENV['DATABASE_URL'] %>
